<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Nos CLients</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="active"><a th:href="@{/}">Particuliers</a></li>
            <li><a th:href="@{societe}">Societés</a></li>
            <li><a href="collapsible.html">Clients</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li class="active"><a href="sass.html">Particuliers</a></li>
    <li><a th:href="@{societe}">Societés</a></li>
    <li><a href="collapsible.html">Clients</a></li>
</ul>
<div class="row"></div>
<div class="row"></div>