<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Insert Title here</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
<!--    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<!--<p th:text="'hello' +${name}+'!'"/>-->
<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Nos CLients</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a th:href="@{/}">Particuliers</a></li>
            <li><a href="badges.html">Societés</a></li>
            <li><a href="collapsible.html">Clients</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a th:href="@{/}">Particuliers</a></li>
    <li><a href="badges.html">Societés</a></li>
    <li><a href="collapsible.html">Clients</a></li>
</ul>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
    <form class="col s12" action="#" th:action="@{/addParticulier}"
          th:object="${particulier}" method="post"  >
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" th:field="*{nom}" id="first_name" type="text" class="validate">
                <label for="first_name">Nom</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" th:field="*{adresse}" type="text" class="validate">
                <label for="last_name">Adresse</label>
            </div>
            <div class="input-field col s6">
                <input id="email" th:field="*{mail}" type="text" class="validate">
                <label for="last_name">Adresse</label>
            </div>
            <div class="input-field col s6">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>


</body>
<!--<script th:src="@{/js/materialize.min.js}" ></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>