<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">
    <h1>Liste des Clients</h1>
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>MAIL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clients}">
                    <td th:text="${client.identifiant}">ID</td>
                    <td th:text="${client.nom}">NOM</td>
                    <td th:text="${client.adresse}">MAIL</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>