<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Insert Title here</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{css/materialize.min.css}"  media="screen,projection"/>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

</head>
<body>
<div th:replace="fragments/navbar"></div>


<div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
        <a class="waves-effect waves-light btn pink accent-4 right" th:href="@{addClient}">
            <i class="material-icons left">add_circle</i>Ajouter
        </a>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Email</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="client : ${particuliers}">
                <td th:text="${client.nom}">Nom</td>
                <td th:text="${client.adresse}">Adresse</td>
                <td th:text="${client.mail}">Email</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col s12 m4 l2"></div>

</div>

</body>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" th:src="@{js/materialize.min.js}" ></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
</html>